Exploratory Data Analysis: Summary Tables

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [11]:
final_df = pd.read_csv('./data/final_df.csv')
final_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [12]:
# Change figures to USD millions 
final_df['production_budget_x'] = np.round(final_df['production_budget_x'].map(lambda x: x/1_000_000), 2)
final_df['worldwide_gross'] = np.round(final_df['worldwide_gross'].map(lambda x: x/1_000_000), 2)
final_df['net_revenue'] = np.round(final_df['net_revenue'].map(lambda x: x/1_000_000), 2)
final_df['roi'] = np.round(final_df['roi'], 2)

In [13]:
final_df.head()

,release_date,production_budget_x,worldwide_gross,roi,net_revenue,title_year,studio,studio_size
0,2015-07-10,0.1,41.66,416.56,41.56,The Gallows 2015,WB (NL),Large
1,2014-10-03,6.5,256.86,39.52,250.36,Annabelle 2014,WB (NL),Large
2,2016-07-22,5.0,148.81,29.76,143.81,Lights Out 2016,WB (NL),Large
3,2017-08-11,15.0,305.38,20.36,290.38,Annabelle: Creation 2017,WB (NL),Large
4,2017-09-08,35.0,697.46,19.93,662.46,It 2017,WB (NL),Large

**Table 1: Film ROI Distributions By Studio Size**

In [7]:
final_df.groupby('studio_size')['roi'].describe()

              count      mean        std   min   25%   50%     75%     max
studio_size
Large        1085.0  4.665825  14.240693  0.00  1.39  2.62  4.5100  416.56
Medium         97.0  2.555876   4.369614  0.01  0.43  1.00  2.6200   31.02
Small          32.0  1.605625   2.086806  0.01  0.24  0.79  2.4575    9.54

**Table 2: Average ROI and Average Net Revenue on Films Released over 2010-2018 by Studio**

In [8]:
final_df.pivot_table(values = ['roi', 'net_revenue'], index = ['studio', 'studio_size']).sort_values(by = 'roi', ascending = False)

                      net_revenue        roi
studio   studio_size
WB (NL)  Large         172.764324  17.495405
FD       Large          41.065556  12.568889
UTV      Medium         95.010000  12.173333
Orch.    Small          21.350000   9.540000
GrtIndia Medium        233.500000   8.780000
BH Tilt  Medium         10.436000   7.894000
Uni.     Large         180.411652   6.886174
Par.     Large         133.670972   6.856806
TriS     Large          63.703333   5.917222
MBox     Small          12.700000   5.880000
ParV     Medium         -0.013333   5.483333
Eros     Medium         42.255000   4.990000
Neon     Medium         42.800000   4.890000
Wein.    Large          47.010250   4.591500
LGF      Large          80.558525   4.547705
FoxS     Large          36.612174   4.459783
A24      Large          12.233810   4.242381
LG/S     Large          71.948000   4.139000
Affirm   Small          12.235000   4.040000
W/Dim.   Large          60.075714   3.985714
CJ       Medium         36.500000   3.870000
SGem     Large          66.874000   3.737200
PFR      Medium          6.700000   3.665000
Sony     Large         170.801644   3.520411
Focus    Large          36.910526   3.471316
Fox      Large         172.428624   3.449266
ORF      Large          18.600769   3.390385
P/DW     Large         374.403000   3.357000
STX      Large          43.244000   3.328000
CBS      Large          32.367000   3.320000
...                           ...        ...
LD       Medium         -3.225000   0.680000
BSC      Medium        -13.260000   0.670000
NM       Medium        -31.010000   0.560000
App.     Small          -4.220000   0.560000
FCW      Medium         -5.450000   0.550000
Anch.    Medium         -5.482500   0.521250
Saban    Medium         -7.780000   0.510000
SMod     Small          -2.020000   0.500000
Drft.    Small          -0.980000   0.500000
PH       Medium         -8.920000   0.500000
GK       Small          -4.420000   0.450000
Amazon   Medium        -12.970000   0.350000
NFC      Small          -1.980000   0.340000
IW       Medium         -8.570000   0.310000
VE       Medium        -12.140000   0.303333
OMNI/FSR Medium        -13.910000   0.300000
Free     Large         -25.570000   0.296667
ELS      Small          -5.070000   0.280000
P4       Small          -3.020000   0.240000
RLJ      Small          -4.570000   0.240000
ATO      Medium        -10.230000   0.180000
Scre.    Small          -6.950000   0.160000
TFA      Small          -5.560000   0.070000
Mont.    Small          -4.720000   0.060000
IVP      Small          -1.900000   0.050000
WHE      Small          -6.620000   0.050000
Alc      Medium         -9.840000   0.020000
BBC      Small          -0.590000   0.010000
KE       Medium        -17.910000   0.010000
First    Small          -8.910000   0.010000

[96 rows x 2 columns]

**Table 3: ROI and Net Revenue of Top 15 Films**

In [9]:
final_df.pivot_table(values = ['roi', 'net_revenue'], index = 'title_year').sort_values(by = 'roi', ascending = False)

                                              net_revenue     roi
title_year
The Gallows 2015                                    41.56  416.56
The Devil Inside 2012                              100.76  101.76
Insidious 2011                                      98.37   66.58
Unfriended 2015                                     63.36   64.36
Paranormal Activity 2 2010                         174.51   59.17
Split 2017                                         273.96   55.79
Get Out 2017                                       250.37   51.07
Chernobyl Diaries 2012                              41.41   42.41
Paranormal Activity 3 2011                         202.04   41.41
Annabelle 2014                                     250.36   39.52
The Last Exorcism 2010                              68.37   38.98
Insidious Chapter 2 2013                           156.92   32.38
Dangal 2016                                        285.15   31.02
The Purge 2013                                      88.27   30.42
Lights Out 2016                                    143.81   29.76
Sinister 2012                                       84.73   29.24
Paranormal Activity 4 2012                         137.82   28.56
A Ghost Story 2017                                   2.67   27.70
Truth or Dare 2018                                  91.63   27.18
You're Next 2013                                    25.89   26.89
Your Sister's Sister 2012                            2.97   25.75
Black Swan 2010                                    318.27   25.48
Happy Death Day 2017                               120.01   25.00
War Room 2015                                       70.98   24.66
Magic Mike 2012                                    163.55   24.36
A Haunted House 2013                                57.42   23.97
10 Cloverfield Lane 2016                           103.29   21.66
La La Land 2016                                    406.35   21.32
Ouija 2014                                          98.30   20.66
Annabelle: Creation 2017                           290.38   20.36
...                                                   ...     ...
The Son of No One 2011                             -13.85    0.08
The Extra Man 2010                                  -6.51    0.07
Song One 2015                                       -5.56    0.07
Lovely, Still 2010                                  -4.72    0.06
Freakonomics 2010                                   -2.73    0.06
Life During Wartime 2010                            -4.22    0.06
Hesher 2011                                         -6.62    0.05
Ondine 2010                                        -11.44    0.05
Saint John of Las Vegas 2010                        -1.90    0.05
Welcome to the Rileys 2010                          -9.64    0.04
The Reluctant Fundamentalist 2013                  -14.47    0.04
Margaret 2011                                      -13.38    0.04
The Eclipse 2010                                    -2.87    0.04
All Good Things 2010                               -19.13    0.04
Strangerland 2015                                   -9.84    0.02
High School 2012                                    -9.75    0.02
George A. Romero's Survival of the Dead 2010        -4.10    0.02
Bilal: A New Breed of Hero 2018                    -29.35    0.02
Brighton Rock 2011                                 -10.77    0.02
The Last Godfather 2011                            -13.24    0.01
The Tempest 2010                                   -19.72    0.01
Leaves of Grass 2010                                -8.91    0.01
The First Time 2012                                 -1.98    0.01
They Will Have to Kill Us First 2016                -0.59    0.01
13 Sins 2014                                        -3.95    0.01
Wolves 2014                                        -17.91    0.01
5 Days of War 2011                                 -11.91    0.01
Mr. Nobody 2013                                    -46.48    0.00
Skin Trade 2015                                     -9.00    0.00
Falcon Rising 2014                                  -4.49    0.00

[1214 rows x 2 columns]

**Extra**

**Question**
What are the characteristics of large, medium, and small studios?

In [36]:
# From 2010-2018, the average net revenue, production budget and ROI for in millions of USD
np.round(final_df.pivot_table(values = ['net_revenue', 'production_budget_x', 'roi'], index = 'studio_size'), 2)

             net_revenue  production_budget_x   roi
studio_size
Large             119.04                51.84  4.67
Medium             10.80                15.07  2.56
Small               1.43                 4.50  1.61

In [37]:
# From 2010-2018, the median net revenue, production budget and ROI for in millions of USD
np.round(final_df.pivot_table(values = ['net_revenue', 'production_budget_x', 'roi'], index = 'studio_size', aggfunc = 'median'), 2)

             net_revenue  production_budget_x   roi
studio_size
Large              42.91                 30.0  2.62
Medium             -0.08                 11.0  1.00
Small              -0.36                  4.0  0.79

In [38]:
final_df['studio_size'].value_counts()

Large     1085
Medium      97
Small       32
Name: studio_size, dtype: int64

**Question** Which studios have the highest ROI?

In [93]:
final_df.pivot_table(values = 'roi', index = 'studio_size', aggfunc = ['min', 'mean', 'median', 'max'])

                  min      mean    median         max
                  roi       roi       roi         roi
studio_size
Large        0.000138  4.665849  2.619925  416.564740
Medium       0.005275  2.556121  0.995556   31.016276
Small        0.009503  1.606314  0.792297    9.538213

**Question** What are the characteristics of production budgets of differently sized studios?

In [95]:
np.round(final_df.pivot_table(values = 'production_budget_x', index = 'studio_size', aggfunc = ['min', 'mean', 'median', 'max']), 2)

,min,mean,median,max
,production_budget_x,production_budget_x,production_budget_x,production_budget_x
studio_size,,,,
Large,0.05,51.84,30.0,410.6
Medium,0.25,15.07,11.0,77.5
Small,0.60,4.50,4.0,9.5

In [106]:
# The above ideally can be graphed, comparing the ranges of production budgets and where the top films fall

**Question** What are the production budget sizes and gross sales of the films with the top ROIs?

In [70]:
final_df = final_df.sort_values(by = 'roi', ascending = False)
final_df.reset_index()

In [77]:
final_df.loc[0:15, ['production_budget_x', 'worldwide_gross', 'roi', 'title_year', 'studio', 'studio_size']]

,production_budget_x,worldwide_gross,roi,title_year,studio,studio_size
0,0.10,41.656474,416.564740,The Gallows 2015,WB (NL),Large
37,1.00,101.759490,101.759490,The Devil Inside 2012,Par.,Large
109,1.50,99.870886,66.580591,Insidious 2011,FD,Large
118,1.00,64.364198,64.364198,Unfriended 2015,Uni.,Large
38,3.00,177.512032,59.170677,Paranormal Activity 2 2010,Par.,Large
119,5.00,278.964806,55.792961,Split 2017,Uni.,Large
120,5.00,255.367951,51.073590,Get Out 2017,Uni.,Large
233,1.00,42.411721,42.411721,Chernobyl Diaries 2012,WB,Large
39,5.00,207.039844,41.407969,Paranormal Activity 3 2011,Par.,Large
1,6.50,256.862920,39.517372,Annabelle 2014,WB (NL),Large
334,1.80,70.165900,38.981056,The Last Exorcism 2010,LGF,Large
110,5.00,161.921515,32.384303,Insidious Chapter 2 2013,FD,Large
395,9.50,294.654618,31.016276,Dangal 2016,UTV,Medium
121,3.00,91.266581,30.422194,The Purge 2013,Uni.,Large
2,5.00,148.806510,29.761302,Lights Out 2016,WB (NL),Large
398,3.00,87.727807,29.242602,Sinister 2012,LG/S,Large
40,5.00,142.817992,28.563598,Paranormal Activity 4 2012,Par.,Large
428,0.10,2.769782,27.697820,A Ghost Story 2017,A24,Large
122,3.50,95.127344,27.179241,Truth or Dare 2018,Uni.,Large
335,1.00,26.887177,26.887177,You're Next 2013,LGF,Large
449,0.12,3.090593,25.754942,Your Sister's Sister 2012,IFC,Large
474,13.00,331.266710,25.482055,Black Swan 2010,FoxS,Large
123,5.00,125.010260,25.002052,Happy Death Day 2017,Uni.,Large
520,3.00,73.975239,24.658413,War Room 2015,TriS,Large
234,7.00,170.549753,24.364250,Magic Mike 2012,WB,Large
538,2.50,59.922558,23.969023,A Haunted House 2013,ORF,Large
41,5.00,108.286422,21.657284,10 Cloverfield Lane 2016,Par.,Large
399,20.00,426.351163,21.317558,La La Land 2016,LG/S,Large
124,5.00,103.300632,20.660126,Ouija 2014,Uni.,Large
3,15.00,305.384865,20.358991,Annabelle: Creation 2017,WB (NL),Large
...,...,...,...,...,...,...
1112,130.00,554.987477,4.269134,Puss in Boots 2011,P/DW,Large
250,175.00,746.059887,4.263199,Suicide Squad 2016,WB,Large
1035,150.00,637.517365,4.250116,Moana 2016,BV,Large
634,135.00,573.068425,4.244951,The Croods 2013,Fox,Large
1036,330.60,1403.013963,4.243841,Avengers: Age of Ultron 2015,BV,Large
404,40.00,169.590606,4.239765,The Impossible 2012,LG/S,Large
635,145.00,614.586270,4.238526,How to Train Your Dragon 2 2014,Fox,Large
349,40.00,168.904682,4.222617,Hacksaw Ridge 2016,LGF,Large
578,13.00,54.837234,4.218249,St. Vincent 2014,Wein.,Large
964,7.40,31.187727,4.214558,The Bye Bye Man 2017,STX,Large
1037,180.00,758.536735,4.214093,Maleficent 2014,BV,Large
1038,65.00,273.346281,4.205327,Lincoln 2012,BV,Large
57,74.00,311.013181,4.202881,The SpongeBob Movie: Sponge Out of Water 2015,Par.,Large
1039,170.00,714.401889,4.202364,Captain America: The Winter Soldier 2014,BV,Large
815,3.00,12.577401,4.192467,Bachelorette 2012,RTWC,Medium
933,35.00,146.595891,4.188454,Friends with Benefits 2011,SGem,Large
13,52.00,217.569328,4.184026,Valentine's Day 2010,WB (NL),Large
636,170.00,710.644566,4.180262,Dawn of the Planet of the Apes 2014,Fox,Large
14,110.00,456.258539,4.147805,San Andreas 2015,WB (NL),Large
166,45.00,185.736412,4.127476,Pitch Perfect 3 2017,Uni.,Large
251,37.00,152.566881,4.123429,The Town 2010,WB,Large
167,15.00,61.788393,4.119226,Krampus 2015,Uni.,Large
1040,165.00,676.404566,4.099422,Doctor Strange 2016,BV,Large
579,1.90,7.785229,4.097489,Nowhere Boy 2010,Wein.,Large
637,18.00,73.695194,4.094177,Diary of a Wimpy Kid: Rodrick Rules 2011,Fox,Large
638,125.00,510.878762,4.087030,The Boss Baby 2017,Fox,Large
544,30.00,122.529966,4.084332,The Nut Job 2014,ORF,Large
754,10.00,40.749230,4.074923,The Forest 2016,Focus,Large
639,20.00,81.424988,4.071249,Vampires Suck 2010,Fox,Large
15,250.00,1017.003568,4.068014,The Hobbit: An Unexpected Journey 2012,WB (NL),Large